<header class="header">
  <div  class="brand">
    <img [routerLink]="''" src="../../../assets/images/logo.png" class="imgLogo" alt="avatar" />
    <h5 [routerLink]="''">The Fruit Basket</h5>
  </div>
  <div class="nav">
    <ul>
      <li class="liUserComp">
        <app-user [signedOut] = "isLoggedIn" (newUsernameEvent)="loggedIn($event)" class="container liUserComp"></app-user>
      </li>
      <li>
        <a [routerLink]="''">Home</a>
      </li>
      <li>
        <a [routerLink]="'shop'">Store</a>
      </li>
      <li>
        <a [routerLink]="'profile'">Profile</a>
      </li>
      
      <li class="modalLogin">
        <ngbd-modal-config *ngIf="!isLoggedIn" text="Log in" class="modalLogin">
        </ngbd-modal-config>
      </li>
      <li class="modalSignup">
        <ngbd-modal-config *ngIf="!isLoggedIn" text="Sign up" class="modalSignup">
        </ngbd-modal-config>
      </li>
      <li *ngIf="isLoggedIn">
        <a (click)="loggedIn('')">Sign out</a>
      </li>
      <li>
        <img src="/assets/images/shopping-bag.png" (click)="cartToggle()" alt="cart" />
        <span class="badge" *ngIf="cart.length > 0">{{ cart.length }}</span>
      </li>
    </ul>
  </div>
</header>
<div *ngIf="cartClicked" class="divCartContents">
  <div class="container">
    <div class="row">
      <div class="col-4 divProizvod">
        Name of product
      </div>
      <div class="col-5 divQty">
        Quantity
      </div>
      <div class="col-3 divPrice">
        Price
      </div>
    </div>

    <div class="container scrollOverflow">
      <div class="row" key={index} *ngFor="let el of cart">
        <div class="col-4 divProizvod">{{el.name}}</div>
        <div class="col-5 divQty">
          <button class="btnCart" (click)="btnClicked($event,el.name,-1)">
            -
          </button>
          <label class="lQty">{{el.quantity}}</label>
          <button class="btnCart" (click)="btnClicked($event,el.name,1)">
            +
          </button>
        </div>
        <div class="col-3 divPrice">
          {{el.price}}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <button [routerLink]="'/order'" class="btnConfirmPurchase" >Confirm purchase</button>
      </div>
    </div>
  </div>
</div>