<div class="container card divOrderComponent">
    <div class="row badge badge-success" *ngIf="contents.length!=0">
        <h2>Finalize order</h2>
    </div>
    <div class="row badge badge-danger" *ngIf="contents.length==0">
        <h2 class="h2Empty">Oh it seems your cart is empty...</h2>
    </div>
    <div class="row">
        <div class="col-4">
            Name
        </div>
        <div class="col-4">
            Quantity
        </div>
        <div class="col-4">
            Price per kg
        </div>

    </div>
    <!-- ng for ovde *ngFor="let item of contents" -->
    <div class="card divOrders" *ngFor="let item of contents">
        <div class="row">
            <div class="col-4">
                {{item.name}}
            </div>
            <div class="col-4">
                {{item.quantity}}kg
            </div>
            <div class="col-4">
                {{item.price}}
            </div>
        </div>
    </div>

    <div class="col-12">
        <label class="lTotal">Total:{{ total}}</label>
    </div>
    <div class="row divButtons">
        <div class="">
            <button (click)="btnConfirm()" class="btn-success">Confirm purchase</button>
        </div>

        <div class="">
            <button (click)="btnCancel()" class="btn-danger">Cancel purchase</button>
        </div>
    </div>
</div>