<div class="container">
    <div class="" *ngIf="!signedOut">
        <label *ngIf="username!=''" class="badge badge-success">Username:{{username}}</label>
    </div>
    <div class="userList">
        <div class="" *ngFor='let user of users | async'>
            <input [ngClass]="user.username" type="text" disabled="true"  placeholder="{{user.username}}"/>
            <input id="{{user.id+user.username}}"  class="{{user.id+user.username}}" type="text" placeholder="{{user.password}}" />
            <div>{{user.username}}</div>
            <div>{{user.password}}</div>
            <button (click)="updateUser(user.id,user.username)">Update User</button>
            <button (click)="deleteUser(user.id,user.username)">Delete User</button>
        </div>
    </div>

</div>