<div class="container">
    <div class="" *ngIf="signedOut">
        <label *ngIf="username!=''"class="badge badge-success">Username:{{username}}</label>
    </div>
    <!-- <div *ngFor='let user of users'>
        <div>{{user.username}}</div>
        <div>{{user.password}}</div>
        <button (click)="updateUser(user.id,user.username,user.password+1)">Update User</button>
        <button (click)="deleteUser(id)">Delete User</button>
    </div> -->
    <!-- <button (click)="createUser(123,123456)">Create new Dummy User</button> -->
</div>