.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding: 10px;
    margin-top: 30px;
}
.liApp-product{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-evenly;
  flex-basis: 30%;
}