.product-list {
    /* display: flex;
    flex-direction: column  ;
    flex-wrap: wrap;
    justify-content: flex-start; */
    padding: 10px;
    margin-top: 30px;
    min-width: 100%;
    
}
.ulProducts{
  list-style: none;
  max-height: 800px;
}
.pagination{
  margin-bottom: 50px;
}
/* .liApp-product{
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-evenly;
  flex-basis: 30%;
} */