<div>
    <div class="divGlavnikontejner">
        <section>
            <div class="divTextkontejner">
                <div class="divTekst">
                    <h1 class="h1Welcome">Welcome!</h1>
                    <p class="pMessage">
                        Our Fruit store contains only
                        <br />
                        the freshest of products,
                        <br />
                        as it makes sure to fulfill
                        <br />
                        all your nutritious needs!

                    </p>
                    <div class="divReadmore">
                        <a class="aRead" href="/kontakt">
                            <button class="btnReadmore">Procitaj vise... </button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-2 card">nesto<br/>.<br/>.<br/>.<br/>...</div>
                <div class="col-2 card">nesto<br/>.<br/>.<br/>.<br/>...</div>
                <div class="col-2 card">nesto<br/>.<br/>.<br/>.<br/>...</div>
                <div class="col-3">
                    
                </div>
            </div>
        </div>

    </section>
    <p>Landing page works!</p>
    <p>Landing page works!</p>
    <p>Landing page works!</p>
    <p>Landing page works!</p>
    <p>Landing page works!</p>
    <p>Landing page works!</p>
    <p>Landing page works!</p>
    <p>Landing page works!</p>
    <p>Landing page works!</p>
    <p>Landing page works!</p>
    <p>Landing page works!</p>
    <p>Landing page works!</p>
    <p>Landing page works!</p>
    <p>Landing page works!</p>
    <p>Landing page works!</p>
    <p>Landing page works!</p>
    <p>Landing page works!</p>
</div>