<div>
    <div class="divGlavnikontejner">
        <section>
            <div class="divTextkontejner">
                <div class="divTekst">
                    <h1 class="h1Welcome">Welcome!</h1>
                    <p class="pMessage">
                        Our Fruit store contains only
                        <br />
                        the freshest of products,
                        <br />
                        as it makes sure to fulfill
                        <br />
                        all your nutritious needs!

                    </p>
                    <div class="divReadmore">
                        <a class="aRead" href="/kontakt">
                            <button class="btnReadmore">Procitaj vise... </button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="sectionCards">
        <h3>About our values:</h3>
        <div class="container">
            <div class="row">
                <div class="infocardContainer">
                    <div id="main">
                        <img src="../../../assets/images/oranges.jpg" />
                    </div>
                    <div id="textbois">
                        <h2>Home grown!!</h2>
                        <h4>using a special</h4>
                        <h4>field-tested</h4>
                        <h4>process</h4>
                    </div>
                </div>
                <div class="infocardContainer">
                    <div id="main">
                        <img src="../../../assets/images/oranges.jpg" />
                    </div>
                    <div id="textbois">
                        <h2>No pesticides!</h2>
                        <h4>We care about</h4>
                        <h4>your health!!</h4>
                    </div>
                </div>
                <div class="infocardContainer">
                    <div id="main">
                        <img src="../../../assets/images/oranges.jpg" />
                    </div>
                    <div id="textbois">
                        <h2>1-day delivery</h2>
                        <h4>free local shipping! </h4>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="sectionBiography">
        <div class="image-area">
            <div class="row">
                <h2>Our Employees:</h2>
            </div>
            <div class="img-wrapper">
                <img src="../../../assets/images/nemanja.jpg" alt="Nemanja Momcilovic">
                <h2>Nemanja Momcilovic</h2>
                <ul>
                    <li><a href="https://github.com/Nemanja-98"> <fa-icon [icon]="faGitHub"></fa-icon></a></li>
                    <li><a href="https://www.instagram.com/"> <fa-icon [icon]="faInstagram"></fa-icon></a></li>
                </ul>
            </div>
        </div>
    </section>
</div>